# Ignore dataset and large CSV files
dataset*
Dataset*
*.zip
*.csv
notebooks/X_train_html_features.csv
notebooks/X_test_html_features.csv
notebooks/X_train_url_features.csv
notebooks/X_test_url_features.csv
notebooks/y_train.csv
notebooks/y_test.csv
